<div class="header-container">
    <h1 class="title header-font">Finance App</h1>
    <ul class="nav body-font">
        <li><a href="/">Home</a></li>
        <li class="focus"><a href="/transactions">Transactions</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/accounts">Accounts</a></li>
    </ul>
</div>

<div class="widget-container">
    <div class="query-options">
        <h2 class="section-header">Transaction List</h2>

        <form class="body-font"> 
            <div class="row">
                <div class="left">
                    <label for="account">Account:</label>
                </div>

                <div class="right">
                    <input list="accounts" type="text" name="account" id="account">
                    <datalist id="accounts">
                        <option value="Checking">
                        <option value="Savings">
                    </datalist>
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <label for="category">Category:</label>
                </div>

                <div class="right">
                    <input list="categories" type="text" name="category" id="category">
                    <datalist id="categories">
                        <option value="Rent">
                        <option value="Groceries">
                        <option value="Coffee">
                    </datalist>
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <label for="minAmount">Min Amount:</label>
                </div>

                <div class="right">
                    <input type="number" step=".01" name="minAmount" id="minAmount">
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <label for="maxAmount">Max Amount:</label>
                </div>

                <div class="right">
                    <input type="number" step=".01" name="maxAmount" id="maxAmount">
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <label for="date">Start Date:</label>
                </div>

                <div class="right">
                    <input type="date" name="date" id="date">
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <label for="date">End Date:</label>
                </div>

                <div class="right">
                    <input type="date" name="date" id="date">
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    
    <div class="transaction-list body-font">
        <ul id="transactionList">
        </ul>
    </div>
</div>

<script>
    for(let i = 0; i < 25; i++) {
        let item = document.createElement("li");

        let num = Math.floor((Math.random() - .5) * 10000)/100;
        let amount = document.createElement("span");
        amount.appendChild(document.createTextNode("$"+Math.abs(num)));
        amount.classList.add(num < 0 ? "expense" : "income");

        let account = document.createElement("span");
        account.appendChild(document.createTextNode("Checking"));

        let category = document.createElement("span");
        category.appendChild(document.createTextNode("Groceries"));

        let date = document.createElement("span");
        date.appendChild(document.createTextNode("12/06/21"));

        let editLink = document.createElement("a");
        let delLink = document.createElement("a");
        editLink.appendChild(document.createTextNode("edit"));
        delLink.appendChild(document.createTextNode("delete"));
        let editDel = document.createElement("span");
        editDel.appendChild(editLink);
        editDel.appendChild(document.createTextNode(" | "));
        editDel.appendChild(delLink);

        item.appendChild(amount);
        item.appendChild(account);
        item.appendChild(category);
        item.appendChild(date);
        item.appendChild(editDel);

        document.getElementById("transactionList").appendChild(item);
    }
</script>