.new-account-container {
    float: left;
    width: 35%;
}

.account-list {
    float: right;
    width: 60%;
}

.account-list ul {
    padding: 0;
    margin: 0;
    height: 500px;
    overflow-y: scroll;
    color: white;
    list-style: none;
}

.account-list ul li {
    display: flex;
    height: 50px;
    line-height: 50px;
}

.account-list ul li span {
    width: 25%;
    text-align: center;
}

.account-list ul li:nth-child(odd) {
    background-color: #232323;
}

.account-list a {
    color: #aaa;
    cursor: pointer;
    text-decoration: none;
}

.account-list a:hover {
    text-decoration: underline;
}